<!DOCTYPE html>
<html lang="en">
<head>
    <%- include( "./partilas/css/bootstrap")%>
    <%- include( "./partilas/js/bootstrap")%>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <%- include( "./partilas/compoenets/nav.ejs")%>
    <div class="container">
    <h1>Home</h1>
    </div>
    
</div>
</body>
</html>