<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <%- include( "./partilas/css/bootstrap")%>
    <%- include( "./partilas/js/bootstrap")%>
</head>
<body>
    <%- include( "./partilas/compoenets/nav.ejs")%>
   
    <div class="container mt-5">
      <h2 class="">Create Free Account</h2>
    <form  method="post" action="/user/signup">

        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Enter Name</label>
            <input type="text" class="form-control" id="exampleInput" aria-describedby="emailHelp" name="fullName">
          </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
      </div>
     
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>


    <h3 class="my-3">OR</h3>
    <a href="/login"> Login To Existing Account </a>
  </div>
</body>
</html>